<div class="row">
	<div class="col-sm-12">
        <div class="card no-padding">
            <div class="card-header no-padding">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success" fixed-cost-button-new>Novo Custo Fixo</button>
                </div>
                <div class="col-sm-6 text-right">
                    <button type="button" class="btn btn-info" fixed-cost-button-save>Salvar</button>
                </div>
            </div>
            <div class="card-body no-padding">
                <table class="table" width="100%">
                    <thead>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th class="text-right">Valor</th>
                        <th></th>
                    </thead>
                    <tbody data-bind="foreach: fixedCost.arrFixedCost">
                        <tr>
                            <td>
                                <input type="text" class="form-control" name="fixedCost-name" id="fixedCost-name" data-bind="value: name"></input>
                            </td>
                            <td>
                                <select class="form-control" data-bind="value: type">
                                    <option value="1">Pessoal</option>
                                    <option value="2">Infraestrutura</option>
                                </select>
                            </td>
                            <td class="text-right">
                                <input type="text" class="form-control" name="fixedCost-value" id="fixedCost-value" data-bind="value: value"></input>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link danger" data-bind="click: $root.removeCost"><span class="fa fa-trash-o"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>