<div class="row">
	<div class="col-sm-12">
		<div class="card no-padding">
			<div class="card-header no-padding">
				<div class="card-title">
					<span class="title">Horas Trabalhadas</span>
				</div>
			</div>
			<div class="card-body no-padding">
				<div class="row">
					<div class="col-sm-12">
					<small>Descrição sobre horas trabalhadas</small>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-inline">
	                        <div class="form-group">
	                            <label for="days">Vou trabalhar </label>
	                            <input
	                            	type="text"
	                            	name="days"
	                            	id="days"
	                            	class="form-control"
	                            	id="exampleInputName2"
	                            	data-bind="value: workTime.days, textInput: workTime.days"
	                            	style="width: 70px; text-align: center;"
	                            >
	                            <label>dias por semana.</label>
	                        </div>
	                    </div>

						<div class="form-inline">
	                        <div class="form-group">
	                            <label for="hours">Vou trabalhar </label>
	                            <input
	                            	type="text"
	                            	name="hours"
	                            	id="hours"
	                            	class="form-control"
	                            	id="exampleInputName2"
	                            	data-bind="value: workTime.hours, textInput: workTime.hours"
	                            	style="width: 70px; text-align: center;"
	                            >
	                            <label>horas por dia.</label>
	                        </div>
	                    </div>
					</div>
					<div class="col-sm-12">
						
						<div class="form-inline">
	                        <div class="form-group">
	                        	<div class="alert fresh-color alert-success" role="alert">
	                                <span>Vou trabalhar</span>
	                                <strong data-bind="text: workTime.daysMonth"></strong>
	                                <span>dias por mês.</span>
	                            </div>
	                        </div>
	                    </div>

						<div class="form-inline">
	                        <div class="form-group">
	                        	<div class="alert fresh-color alert-success" role="alert">
	                                <span>Vou trabalhar</span>
	                                <strong data-bind="text: workTime.hoursMonth"></strong>
	                                <span>horas por mês.</span>
	                            </div>
	                        </div>
	                    </div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="col-sm-12">
					<button class="btn" worktime-button-save>salvar</button>
				</div>
				<div class="col-sm-12 msg-success" style="display: none">
					<div class="alert alert-success" role="alert">
                        <strong>Gravado com sucesso.</strong>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>