<div class="col-xs-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <div class="title">Configurações</div>
            </div>
        </div>
        <div class="card-body no-padding">
            <div class="step tabs-left card-no-padding">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="step" class="">
                        <a href="#workTime" id="tab-workTime" role="tab" data-toggle="tab" aria-controls="workTime" aria-expanded="false">
                            <div class="icon fa fa-truck"></div>
                            <div class="step-title">
                                <div class="title">Horas</div>
                                <div class="description">Trabalhadas</div>
                            </div>
                        </a>
                    </li>
                    <li role="step">
                        <a href="#fixedCost" role="tab" id="tab-fixedCost" data-toggle="tab" aria-controls="fixedCost" aria-expanded="true">
                            <div class="icon fa fa-credit-card"></div>
                            <div class="step-title">
                                <div class="title">Custos</div>
                                <div class="description">Fixos</div>
                            </div>
                        </a>
                    </li>
                    <li role="step" class="">
                        <a href="#prolabore" role="tab" id="tab-prolabore" data-toggle="tab" aria-controls="prolabore" aria-expanded="false">
                            <div class="icon fa fa-check-circle-o"></div>
                            <div class="step-title">
                                <div class="title">Prolabore</div>
                                <div class="description"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="width: 100%">
                    <div role="tabpanel" class="tab-pane fade" id="workTime" aria-labelledby="panel-workTime">
                        <?php include 'horasTrabalhadas.phtml'; ?>
                    </div>
                    <div role="tabpanel" class="tab-pane fade active in" id="fixedCost" aria-labelledby="panel-fixedCost">
                    	<?php include 'custosFixos.phtml'; ?>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="prolabore" aria-labelledby="panel-prolabore">
                    	<?php include 'prolabore.phtml'; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>