<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<div class="title">Meta</div>
				</div>
			</div>
			<div class="card-body">
				<div class="form-horizontal">
					<!-- <div class="form-group"> -->
                        <label for="financial" class="col-sm-3 control-label">Meta de faturamento mensal</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="financial" id="financial" data-bind="value: prolabore.mark, inputText: prolabore.mark">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-small" btn-prolabore-save>Gravar</button>
                        </div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<div class="title">Valores</div>
				</div>
			</div>
			<div class="card-body">
				<div class="col-sm-4">
                    <div class="panel fresh-color panel-info">
                    	<ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge" data-bind="text: prolabore.costProlabore"></span> Custo hora Prolabore
                            </li>
                            <li class="list-group-item">
                                <span class="badge" data-bind="text: prolabore.costProduction"></span> Custo hora Produção
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <span class="badge" data-bind="text: prolabore.totalHour"></span> <strong>Valor hora</strong>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-4">
                    <div class="panel fresh-color panel-info">
                    	<ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge" data-bind="text: prolabore.markYear"></span> Meta de faturamento anual
                            </li>
                            <li class="list-group-item">
                                <span class="badge" data-bind="text: prolabore.markMonth"></span> Meta de faturamento mensal
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <span class="badge" data-bind="text: prolabore.tributeCost"></span> <strong>IR - Alíquota estimada  </strong>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-4">
                    <div class="panel fresh-color panel-info">
                    	<ul class="list-group">
                            <li class="list-group-item active">
                                <span class="badge">Alíquota</span> Base de calculo mensal IR
                            </li>
                            <li class="list-group-item">
                                <span class="badge">0,0%</span> Até 1903,98
                            </li>
                            <li class="list-group-item">
                                <span class="badge">7,5%</span> De 1.903,99 até 2.826,65
                            </li>
                            <li class="list-group-item">
                                <span class="badge">15,0%</span> De 2.826,66 até 3.751,05
                            </li>
                            <li class="list-group-item">
                                <span class="badge">22,5%</span> De 3.751,06 até 4.664,68
                            </li>
                            <li class="list-group-item">
                                <span class="badge">27,5%</span> Acima de 4.664,68
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>