<title><?= $title ?></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<!-- Fonts -->
<!--<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'> -->
<!-- CSS Libs -->
<link rel="stylesheet" type="text/css" href="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/css/bootstrap-switch.min.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/css/checkbox3.min.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/css/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/css/select2.min.css">
<!-- CSS App -->
<link rel="stylesheet" type="text/css" href="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/css/themes/flat-blue.css">

<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.semanticui.min.css"> -->
