<!-- Javascript Libs -->
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/Chart.min.js"></script>
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/select2.full.min.js"></script>
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/ace/ace.js"></script>
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/ace/mode-html.js"></script>
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/lib/js/ace/theme-github.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/js/app.js"></script>
<!-- <script type="text/javascript" src="/assets/vendor/flat-admin-bootstrap-templates-2.1.2/dist/js/index.js"></script> -->
<script type="text/javascript" src="/assets/vendor/knockout/knockout-3.4.0.js"></script>
