<?php 
$controller = str_replace('Controller', '', $this->application->getControllerName());
$action = $this->application->getActionName();
?>
<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <div class="icon fa fa-paper-plane"></div>
                    <div class="title">The ALMA</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <?php /*
                <li class="<?= ($controller === 'Index') ? 'active' : '' ?>">
                    <a href="/app">
                        <span class="icon fa fa-tachometer"></span><span class="title">Início</span>
                    </a>
                </li>
                */ ?>
                <li class="<?= ($controller === 'Orcamento') ? 'active' : '' ?>">
                    <a href="/app/orcamento">
                        <span class="icon fa fa-table"></span><span class="title">Orçamento</span>
                    </a>
                </li>
                <?php /*
                <li class="<?= ($controller === 'Projeto') ? 'active' : '' ?>">
                    <a href="/app/projeto">
                        <span class="icon fa fa-desktop"></span><span class="title">Projeto</span>
                    </a>
                </li>
                */ ?>
                <li class="<?= ($controller === 'Configuracao') ? 'active' : '' ?>">
                    <a href="/app/configuracao">
                        <span class="icon fa fa-desktop"></span><span class="title">Configurações</span>
                    </a>
                </li>
                <!-- <li class="panel panel-default dropdown <?= ($controller === 'Configuracao') ? 'active' : '' ?>">
                    <a data-toggle="collapse" href="#dropdown-config">
                        <span class="icon fa fa-gears"></span><span class="title">Configurações</span>
                    </a>
                    <div id="dropdown-config" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li class="<?= ($action === 'horasTrabalhadas') ? 'active' : '' ?>">
                                    <a href="/app/configuracao/horastrabalhadas">Horas Trabalhadas</a>
                                </li>
                                <li class="<?= ($action === 'custosFixos') ? 'active' : '' ?>">
                                    <a href="/app/configuracao/custosfixos">Custos Fixos</a>
                                </li>
                                <li class="<?= ($action === 'prolabore') ? 'active' : '' ?>">
                                    <a href="/app/configuracao/prolabore">Prolabore</a>
                                </li>
                                <li class="<?= ($action === 'planos') ? 'active' : '' ?>">
                                    <a href="/app/configuracao/planos">Planos</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li> -->
                <li class="<?= ($controller === 'Sobre') ? 'active' : '' ?>">
                    <a href="/app/sobre">
                        <span class="icon fa fa-users"></span><span class="title">Sobre</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>