<!DOCTYPE html>
<html>

	<head>
		<?php include 'app/header.phtml'; ?>
	</head>

	<?php if ($this->application->getControllerName() !== 'AuthController') { ?>
	<body class="flat-blue">
    	<div class="app-container">
	        <div class="row content-container">
		        <?php include 'app/menu.phtml'; ?>
		        <?php include 'app/side-bar.phtml'; ?>
		        <div class="container-fluid">
    				<div class="side-body padding-top">
						<?php require_once $view; ?>
					</div>
				</div>
	        </div>
	    </div>
	</body>
	<?php } else { 
		require_once $view;
	} 
	?>

	<?php include 'app/javascript.phtml'; ?>

</html>
