<div id="container-orcamento">
    <!-- Main Content -->
    <div class="page-title">
    	<div class="row">
    		<div class="col-sm-8">
    		    <span class="title">Orçamento</span>
    		    <div class="description">
    		    Verifique aqui seus orçamentos gerados.
    		    </div>
    		</div>
    		<div class="col-sm-4 text-right">
    			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-orcamento">Novo Orçamento</button>
    		</div>
    	</div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card" id="table-orcamento">
                <div class="card-body">
                    <table class="ui celled table table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Etapas</th>
                                <th colspan="2">Previsão</th>
                                <th>Engajamento</th>
                                <th>Urgência</th>
                                <th cass="text-right">Lucro</th>
                                <th cass="text-right">Total</th>
                                <th cass="text-right">Imposto</th>
                                <th cass="text-right">Valor Final</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: orcamentoModel.arrList">
                            <tr class="info" data-table data-value data-bind="attr: {'data-value': id}">
                                <td data-bind="text: sTitle"></td>
                                <td data-bind="text: iSteps"></td>
                                <td data-bind="text: iTimes"></td>
                                <td data-bind="text: iDays()"</td>
                                <td data-bind="text: iEngaged"></td>
                                <td data-bind="text: iUrgency"></td>
                                <td class="text-right" data-bind="text: iProfit"></td>
                                <td class="text-right">R$ --</td>
                                <td class="text-right" data-bind="text: iTax"></td>
                                <td class="text-right">R$ --</td>
                                <td data-bind="text: sStatus">Em Aberto</td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible: orcamentoModel.arrList().length === 0">
                            <tr>
                                <td colspan="11" class="active">
                                    <p>Ainda não tem nenhum orçamento para exibir, <strong><a href="#" data-toggle="modal" data-target="#add-orcamento">Clique aqui</a></strong> para criar um novo.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="loader-container text-center color-white">
                <div><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
                <div>Loading</div>
            </div>
        </div>
    </div>

    <?php $this->partial('/modules/application/views/orcamento/modal.add'); ?>
</div>