<div class="modal fade" id="add-orcamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Novo Orçamento</h4>
            </div>
            <div class="modal-body"> <!-- BODY -->
            	<div class="form-group">
            		<div class="panel fresh-color panel-primary">
                        <div class="panel-heading">Nome do Projeto</div>
                        <div class="panel-body">
                            <input
					        	type="text"
					        	class="form-control border-hidden"
					        	id="sTitle"
					        	name="sTitle"
					        	data-bind="text: sTitle, textInput: sTitle"
					        	placeholder="Meu Projeto"
					        >
                        </div>
                    </div>
			    </div>

			    <div class="panel panel-primary">
				    <div class="step panel-body"> <!-- STEP -->
					    <ul class="nav nav-tabs nav-justified" role="tablist"> <!-- STEP MENU -->
					        <li role="step" class="active">
					            <a href="#step1" id="step1-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
					                <div class="icon fa fa-cubes"></div>
					                <div class="step-title">
					                    <div class="title">Etapas</div>
					                    <div class="description">do Projeto</div>
					                </div>
					            </a>
					        </li>
					        <li role="step">
					            <a href="#step2" role="tab" id="step2-tab" data-toggle="tab" aria-controls="profile">
					                <div class="icon fa fa-calculator"></div>
					                <div class="step-title">
					                    <div class="title">Detalhes</div>
					                    <div class="description">Percentuais</div>
					                </div>
					            </a>
					        </li>
					    </ul> <!-- /STEP MENU -->
					    <div class="tab-content">
					        <div role="tabpanel" class="tab-pane fade in active table-step" id="step1" aria-labelledby="home-tab">

					        	<div class="panel panel-default">
	                                <table class="table">
	                                    <thead>
	                                        <tr>
	                                            <th width="80%">Etapa</th>
	                                            <th width="15%">Horas</th>
	                                            <th width="5%"></th>
	                                        </tr>
	                                    </thead>
	                                    <tbody data-bind="foreach: orcamentoModel.arrStep">
	                                        <tr>
	                                            <td>
	                                            	<input 
	                                            		type="text"
	                                            		name="sName"
	                                            		class="form-control border-hidden"
	                                            		placeholder="Nome da Etapa"
	                                            		data-bind="text: name, textInput: name"
	                                            	/>
	                                            </td>
	                                            <td>
	                                            	<input 
	                                            		type="text"
	                                            		name="sTime"
	                                            		class="form-control border-hidden"
	                                            		placeholder="Tempo"
	                                            		data-bind="text: time, textInput: time"
	                                            	/>
	                                            </td>
	                                            <td><button type="button" class="btn btn-link danger" data-bind="click: $root.stepRemove"><span class="fa fa-trash-o"></span></button></td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                                <div class="panel-footer">
	                                	<div class="row">
	                                		<div class="col-sm-5">
				                                <button data-button-step type="button" class="btn btn-primary">Nova Etapa</button>
	                                		</div>
	                                		<div class="col-sm-4 text-right">
	                                			<label>Total</label><br />
	                                			<label>+ Reserva</label>
	                                		</div>
	                                		<div class="col-sm-2 text-center">
	                                			<label data-bind="text: orcamentoModel.sumHour">10</label><br />
	                                			<label data-bind="text: orcamentoModel.totalHour">20</label>
	                                		</div>
	                                	</div>
	                                </div>
	                            </div>

					        </div>
					        <div role="tabpanel" class="tab-pane fade" id="step2" aria-labelledby="profile-tab">
					        	<div class="form-group">
							    	<div class="row">
							    		<div class="col-sm-4">
									    	<label for="iReserveTime">Reserva de tempo</label>
									    	<input
									    		type="text"
									    		class="form-control border-hidden"
									    		name="iReserveTime"
									    		id="iReserveTime"
									    		data-bind="text: iReserveTime, textInput: iReserveTime"
									    		placeholder="5%"/>
							    		</div>
							    		<div class="col-sm-4">
									    	<label for="iEngaged">Engajamento no Projeto</label>
									    	<input
									    		type="text"
									    		class="form-control border-hidden"
									    		name="iEngaged"
									    		id="iEngaged"
									    		data-bind="text: iEngaged, textInput: iEngaged"
									    		placeholder="15%"/>
							    		</div>
							    		<div class="col-sm-4">
									    	<label for="iUrgency">Taxa de urgência</label>
									    	<input
									    		type="text"
									    		class="form-control border-hidden"
									    		name="iUrgency"
									    		id="iUrgency"
									    		data-bind="text: iUrgency, textInput: iUrgency"
									    		placeholder="10%"/>
							    		</div>
							    	</div>
							    </div>
							    <div class="form-group">
							    	<div class="row">
							    		<div class="col-sm-4">
									    	<label for="iProfit">Lucro</label>
									    	<input
									    		type="text"
									    		class="form-control border-hidden"
									    		name="iProfit"
									    		id="iProfit"
									    		data-bind="text: iProfit, textInput: iProfit"
									    		placeholder="10%"/>
							    		</div>
							    		<div class="col-sm-4"></div>
							    	</div>
							    </div>
					        </div>
					    </div>
					</div> <!-- /STEP -->
				</div>

				<div class="panel panel-primary">
					<div class="panel-body">
						<div class="final-value">
							<div class="row">
								<div class="col-sm-6">
								</div>
								<div class="col-sm-3">
									<div class="text-right">
										<small>Total sem imposto</small>
										<strong data-bind="text: orcamentoModel.TotalProject"></strong>
									</div>
									<div class="text-right">
										<small>Imposto de Renda</small>
										<strong data-bind="text: orcamentoModel.iTax"></strong>
									</div>
									<div class="text-right">
										<small>Valor Final</small>
										<span class="badge info">
											<strong data-bind="text: orcamentoModel.TotalFinalProject"></strong>
										</span>
										
									</div>
								</div>
								<div class="col-sm-3">
									<div class="text-right">
										<small>Total de Desconto</small>
										<strong data-bind="text: orcamentoModel.totalDiscount"></strong>
									</div>
									<div class="text-right">
										<small>Lucro Líquido</small>
										<strong data-bind="text: orcamentoModel.totalProfit"></strong>
									</div>
									<div class="text-right">
										<small>Prazo do Projeto</small>
										<span class="badge info">
											<strong data-bind="text: orcamentoModel.deadLine"></strong>
										</span>								
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			    
            </div> <!-- /BODY -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-button-save>Salvar</button>
            </div>
        </div>
    </div>
</div>