<body class="flat-blue login-page">
    <div class="container">
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        <i class="login-logo fa fa-connectdevelop fa-5x"></i>
                        <h4 class="login-title">The ALMA</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="login-body">
                            <div class="progress hidden" id="login-progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Logando...</div>
                                <div class="progress-bar progress-bar-danger hidden active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Falha ao logar</div>
                            </div>
                            <form>
                                <div class="control">
                                    <input type="email" id="sName" class="form-control" placeholder="Email de login" />
                                </div>
                                <div class="control">
                                    <input type="password" id="sPassword" class="form-control" placeholder="password" />
                                </div>
                                <div class="login-button text-center">
                                    <input type="button" class="btn btn-primary" data-button-login value="Entrar">
                                </div>
                            </form>
                        </div>
                        <div class="login-footer">
                            <span class="text-right"><a href="#" class="color-white">Esqueceu a senha?</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>