<div class="text-center img-dash">
	<img alt="" src="<?= $dirname ?>gallery/imagem_dashboard.png" style="max-width:90%; margin:0 auto">
	<h1>Tenha todo o poder do nosso Sistema Orcamentos</h1>
</div>
<div class="row row-dash text-center">
	<div class="panel panel-home">
		<div class="panel-heding">
			<i class="glyphicon glyphicon-list-alt"></i>
		</div>
		<div class="panel-body">
			<h2>texto1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. </p>
		</div>
	</div>

	<div class="panel panel-home">
		<div class="panel-heding">
			<i class="glyphicon glyphicon-cloud"></i>
		</div>
		<div class="panel-body">
			<h2>texto1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>

	<div class="panel panel-home">
		<div class="panel-heding">
			<i class="glyphicon glyphicon-inbox"></i>
		</div>
		<div class="panel-body">
			<h2>texto2</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. </p>
		</div>
	</div>
</div>