.border-hidden {
	border: 0;
	border-radius: 10px;
}

.border-hidden:hover {
	background: #EAEAEA;
}

.border-hidden:focus {
	background: transparent !important;
}

.flat-blue .step .nav-tabs > li.active > a, .flat-blue .step .nav-tabs > li.active > a:focus, .flat-blue .step .nav-tabs > li.active > a:hover {
	background: #353d47 !important;
	color: white !important;
}

.flat-blue .step .nav-tabs > li:hover:after, .flat-blue .step .nav-tabs > li.active:after {
	border-left: 15px solid #353d47 !important;
}

.flat-blue .step .nav-tabs > li:hover:after, .flat-blue .step .nav-tabs > li.active:after:hover {
	border-left: 15px solid #EAEAEA !important;
}
